@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

:root {
    --primary: black;
    --secondary: yellow;
    --background: #2c16bb;
    --text: #F9FAFC;
    --highlight: red;
}

.navbar {
    background-color: var(--background);
    color: var(--text)
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-brand,
.navbar a {
    color: var(--text);
}

/* Optionally, for hover/focus states: */
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-brand:hover,
.navbar a:hover {
    color: var(--highlight);
}

.navbar .nav-link.active,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-brand.active {
    color: yellow;
}

body {
    background-color: var(--background);
}

.brand {
    font-family: Lato, oswald, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text);
}

.red-o {
    color: var(--highlight);
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: var(--text);
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: var(--text);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

#footer {
    color: var(--text);
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--background);
}

.scale {
    width: 100%;
    height: auto;
}

.alert-success {
    color: var(--background);
    background-color: var(--secondary);
}

.user {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--background);
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover {
    color: var(--highlight)
}
.page-link {
    color: var(--secondary);
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: var(--background);
    color: var(--text);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--background);
    color: var(--text);
}

.link {
    color: var(--background);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #da0f0f;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.footer {
    background-color:#2c16bb
}