{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}


<!-- Post detail page -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-vehicle">{{ post.vehicle }}</h1>
                <p class="post-subtitle">{{ post.user }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
    {% if user.is_authenticated and post.user == user %}
        <a href="{% url 'edit_post' post.id %}" class="btn btn-edit" post_id="{{ post.id }}">Edit</a>
    {% endif %}
</div>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/post.js' %}"></script>
{% endblock %}