<!-- This template diplays post and vehicle details -->
{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}


<!-- Post detail page -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-vehicle">{{ post.vehicle }}</h1>
                <p class="vehicle-specs">{{ post.engine }} <br> {{ post.bhp }} <br> {{ post.year }}</p>
                <p class="post-subtitle">{{ post.user }} | {{ post.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
    {% if user.is_authenticated and post.user == user %}
        <a href="{% url 'edit_post' post.id %}" class="btn btn-edit" post_id="{{ post.id }}">Edit</a>
        <button class="btn btn-delete" post_id="{{ post.id }}">Delete</button>
    {% endif %}
</div>


<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="deleteModalLabel">Delete post?</h5>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your post?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
            <form id="deleteForm" method="POST" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            </div>
        </div>
    </div>
</div>


{% endblock content %}
